@import '../../theme/scssVariables';
.bg_signin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  .logo {
    margin-top: 50px;
    width: 220px;
  }
  .signin-box {
    overflow: hidden;
    .box-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -25px;
      min-height: 460px;
      width: 300px;
      background-color: $primary;

      .Particels {
        fill: #fff;
        position: absolute;
        top: 0;
        left: -50px;
      }
    }
    position: relative;

    width: 100%;
    max-width: 700px;
    min-height: 460px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .signin-header {
      font-family: 'Proxima Nova Rg';
      font-size: 32px;
      color: $primary;
      position: relative;
      top: -15px;
    }
  }
  .alert {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .sign-in {
    .signin-box {
      padding: 0;
      width: 90%;

      .box-header {
        display: none;
      }
    }
    .ant-spin-nested-loading {
      width: 90%;
    }
  }
}
